@{
    ViewData["Title"] = "Create Opportunity";
}
@if (true){
    <div class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
}
<div class="text-center">
    <h1 class="display-4">Create A new Vacancy</h1>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" placeholder="Youth volunteers xxx">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Organization Name</label>
        <input type="text" class="form-control" id="organizationName" placeholder="xxx">
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Available vacancies</label>
      <input type="text" class="form-control" id="vacancies" placeholder="10">
    </div>
    
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Start date</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="2023-May-20">
    </div> 

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">End date</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="2023-October-10">
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Vacancy Descryption</label>
      <textarea class="form-control" id="description" rows="3"></textarea>
    </div>
    
    <div class="mb-3">
        <button type="button" class="btn btn-outline-primary">Submit</button>
    </div>

</div>
