@model Opportunities

@{
    ViewData["Title"] = "Add New Opportunity";
}

<div class="row text">
    <div class="col-auto">
        <img id="CoverPhoto" src="@Model.CoverURL" class="rounded" style="width: 100%;height: 45vh;object-fit: cover;" />
    </div>

    <div class="col-auto">
            <div class="form-group p-1">
                <h4>@Model.Title </h4>
                </div>
        <div class="form-group p-1">
            <label asp-for="CoverURL" class="control-label"></label>
            <input asp-for="CoverURL" class="form-control" readonly>
        </div>
        <div class="form-group p-1">
            <label asp-for="Organization" class="control-label"></label>
            <input asp-for="Organization" class="form-control" readonly>
        </div>
        <div class="form-group p-1">
                    <label asp-for="Vacancies" class="control-label"></label>
            <input asp-for="Vacancies" class="form-control" readonly>
        </div>

        <div class="py-1 form-group row">
            <div class="col px-3">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" readonly>
            </div>
            <div class="col">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" readonly>
            </div>
        </div>

        <div class="form-group py-3 px-1">
            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.ID"> <i class="bi bi-pencil-square"></i></a>
            <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@Model.ID"> <i class="bi bi-trash"></i></a>
                </div>

                </div>

    <div class="form-group p-2">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" rows="3" readonly></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
        </div>
    </div>
